{% if navigation_type == "breadcrumb" %}

    <nav class="breadcrumb-nav container fs-4 mb-2 pt-0 pt-sm-3 pt-lg-2 pt-xl-0">
    
      {% liquid
        assign current_category = collection
        assign father_category = current_category.metafields.custom.parent.value
        assign grandfather_category = father_category.metafields.custom.parent.value
      %}

      <a href="/">Home</a>
    
      {% if grandfather_category != blank %}
        <span class="mx-2">/</span>
        <a href="{{ grandfather_category.url }}">{{ grandfather_category.title }}</a>
      {% endif %}
    
      {% if father_category != blank %}
        <span class="mx-2">/</span>
        <a href="{{ father_category.url }}">{{ father_category.title }}</a>
      {% endif %}

      <span class="mx-2">/</span>
      <span>{{ current_category.title }}</span>
    
    </nav>

  {% else %}

    <nav class="container fs-4">
      {% assign parent_collection = collection.metafields.custom.parent.value %}
      
      {% if parent_collection != blank %}
        <a href="{{ parent_collection.url }}" class="go_back-link">← Voltar a {{ parent_collection.title }}</a>

      {% else %}
        <a href="/" class="go_back-link">← Voltar à página Home</a>

      {% endif %}
    </nav>

  {% endif %}