<nav class="breadcrumb-nav container">
  {% liquid
    assign current_category = collection
    assign father_category = current_category.metafields.custom.parent.value
    assign grandfather_category = father_category.metafields.custom.parent.value
  %}

  <a>{{ current_category.title }}</a>

  {% if father_category != blank %}
    <a href="{{ father_category.url }}">{{ father_category.title }}</a>
  {% endif %}

  {% if grandfather_category != blank %}
    <a href="{{ grandfather_category.url }}">{{ grandfather_category.title }}</a>
  {% endif %}
  
</nav>
  
  <nav class="container mb-3">
    {% assign parent_collection = collection.metafields.custom.parent.value %}
    
    {% if parent_collection %}
      <a href="{{ parent_collection.url }}" class="go_back-link">← Voltar a {{ parent_collection.title }}</a>
    {% endif %}
  </nav>


{% comment %}

{% endcomment %}
  