{% assign collection_list = "" | split: "" %}
{% assign current_collection = collection %}

{% for i in (1..5) %}
  
  {% assign collection_list = collection_list | push: current_collection %}
  {% assign parent_collection = current_collection.metafields.custom.parent.value %}

  {% if parent_collection != blank %}
    {% assign current_collection = parent_collection %}

  {% else %}
    {% break %}
    
  {% endif %}
  
{% endfor %}



<nav class="breadcrumb-nav container">
  <a href="/">Início</a>

  {{ collection_list~.list }}

  {% for collection in collection_list %}

    <a href="{{ collection.url }}">{{ collection.title }}</a>
    
  {% endfor %}
  
</nav>
  
  <nav class="container mb-3">
    {% assign parent_collection = collection.metafields.custom.parent.value %}
    
    {% if parent_collection %}
      <a href="{{ parent_collection.url }}" class="go_back-link">← Voltar a {{ parent_collection.title }}</a>
    {% endif %}
  </nav>


{% comment %}
  {% liquid
  assign collection_list = "" | split: ""
  assign current_collection = collection

  for i in (1..5)
    assign collection_list = collection_list | push: current_collection
    assign parent_collection = current_collection.metafields.custom.parent.value 

    if parent_collection != blank 
      assign current_collection = parent_collection

    else 
      break

    endif
  endfor
%}
{% endcomment %}
  