{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .page__title {
    text-align: {{ section.settings.title_alignment }};
  }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="container ">
      <header class="page__header row">
        <h1 class="page__title heading h1 col-12">{{ page.title }}</h1>
      </header>

      <div class="page__content rte">
        {{ page.content }}
        <div class="form__input-row row mt-5 mb-4" id="form_input_stuff">
          <div class="form__input-wrapper col-12 col-md-4 mb-4 mb-md-0">
            <div class="select-wrapper select-wrapper--primary">
              <select
                name="marca"
                id="marcadocarro"
                class="configurador-input"
                data-default=""
                required=""
                onChange="brandChanged(event)"
              >
                <option value="">Marca do Veículo</option>
              </select>
            </div>
          </div>

          <div class="form__input-wrapper col-12 col-md-4 mb-4 mb-md-0" style="display: block;">
            <div class="select-wrapper select-wrapper--primary">
              <select
                name="modelo"
                id="modelodocarro"
                class="configurador-input"
                data-default=""
                onChange="modelChanged(event)"
              >
                <option value="">Modelo do Veículo</option>
              </select>
            </div>
          </div>

          <div class="form__input-wrapper col-12 col-md-4" style="display: block;">
            <div class="select-wrapper select-wrapper--primary">
              <select
                name="ano"
                id="anodocarro"
                class="configurador-input"
                data-default=""
                onChange="yearChanged(event)"
              >
                <option value="">Ano do Veículo</option>
              </select>
            </div>
          </div>

          <div class="shipping-estimator__results" style="display: none;"></div>
        </div>

        <div hidden id="optionClassic">
          <div class="card card-configurador mb-4" id="btoptions">
            <div class="card_header" id="op1">
              <h2 class="card_title heading h3 mb-4 mb-lg-0" style="">Opção Escovas Classic</h2>
            </div>

            <div
              id="opt1"
              class="card_section btoption row justify-content-evenly align-items-center flex-column flex-lg-row"
              style="padding: 0px 20px 30px 20px;"
            >
              <img class="btoptioni col-12 col-lg-3" src="img0101" height="" width="">
              <div class="btoptiont col-12 col-lg-7">
                <table style="" class="tabbt">
                  <thead>
                    <tr valign="top">
                      <th style="width: 325px;"><b>Lado do Condutor</b></th>
                      <th style="width: 85px; text-align: center;"><b>SKU</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td label="Acessórios">nome0</td>
                      <td label="Referência">
                        <p style="text-align:center">
                          <a
                            target="_blank"
                            href="/search?type=product&options[prefix]=last&options[unavailable_products]=last&q=skuskusku0"
                            >skuskusku0</a
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Inclui o adaptador para aplicação
                        {% comment %}
                          Inclui o adaptador UFGC0 para aplicação
                          <br>
                          <img src="UFGI0" height="" width="">
                        {% endcomment %}
                      </td>
                      <td style="text-align: center;">Universal</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="btoptionprice col-12 col-lg-2">
                <div class="btbox2">
                  <p style="margin-top:20px;">
                    <span class="fw-bold">Preço:</span><span class="btprice fw-bold" style=""> price1231230</span>
                  </p>
                  <div style="text-align: center;">
                    <button
                      type="submit"
                      class="product-form__add-button button button--primary button-configurador"
                      data-action="add-to-cart"
                      style="height:50px; font-size:14px;"
                      onclick="handleBuy(0)"
                    >
                      BUY1
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              id="opt2"
              class="card_section btoption row justify-content-evenly"
              style="padding: 0px 20px 30px 20px;"
            >
              <img class="btoptioni col-12 col-lg-3" src="img0102" height="" width="">
              <div class="btoptiont col-12 col-lg-7">
                <table style="" class="tabbt">
                  <thead>
                    <tr valign="top">
                      <th style="width: 325px;"><b>Lado do Passageiro</b></th>
                      <th style="width: 85px; text-align: center;"><b>SKU</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="padding-top: 10px">
                      <td label="Acessórios">nome1</td>
                      <td label="Referência">
                        <p style="text-align:center">
                          <a
                            target="_blank"
                            href="/search?type=product&options[prefix]=last&options[unavailable_products]=last&q=skuskusku1"
                            >skuskusku1</a
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Inclui o adaptador para aplicação
                        {% comment %}
                          Inclui o adaptador UFGC0 para aplicação
                          <br>
                          <img src="UFGI0" height="" width="">
                        {% endcomment %}
                      </td>
                      <td style="text-align: center;">Universal</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="btoptionprice col-12 col-lg-2">
                <div class="btbox2">
                  <p style="margin-top:20px;">
                    <span class="fw-bold">Preço:</span><span class="btprice fw-bold" style=""> price1231231</span>
                  </p>
                  <div style="text-align: center;">
                    <button
                      type="submit"
                      class="product-form__add-button button button--primary button-configurador"
                      data-action="add-to-cart"
                      style="height:50px; font-size:14px;"
                      onclick="handleBuy(1)"
                    >
                      BUY2
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div hidden id="optionFlat">
          <div class="card card-configurador" id="btoptions">
            <div class="card_header" id="op2">
              <h2 class="card_title heading h3 mb-4 mb-lg-0" style="margin-bottom: 0px;">Opção Escovas Flat</h2>
            </div>
            <div
              id="opt3"
              class="card_section btoption row justify-content-evenly"
              style="padding: 0px 20px 30px 20px;"
            >
              <img class="btoptioni col-12 col-lg-3" src="img0101" height="" width="">
              <div class="btoptiont col-12 col-lg-7">
                <table style="" class="tabbt">
                  <thead>
                    <tr valign="top">
                      <th style="width: 325px;"><b>Lado do Condutor</b></th>
                      <th style="width: 85px; text-align: center;"><b>SKU</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="padding-top: 10px">
                      <td label="Acessórios">nome0</td>
                      <td label="Referência">
                        <p style="text-align:center">
                          <a
                            target="_blank"
                            href="/search?type=product&options[prefix]=last&options[unavailable_products]=last&q=skuskusku0"
                            >skuskusku0</a
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Inclui o adaptador UFGC0 para aplicação<br>
                        <img src="UFGI0" height="" width="">
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="btoptionprice col-12 col-lg-2">
                <div class="btbox2">
                  <p style="margin-top:20px;">
                    <span class="fw-bold">Preço:</span><span class="btprice fw-bold" style=""> price1231230</span>
                  </p>
                  <div style="text-align: center;">
                    <button
                      type="submit"
                      class="product-form__add-button button button--primary button-configurador"
                      data-action="add-to-cart"
                      style="height:50px; font-size:14px;"
                      onclick="handleBuy(2)"
                    >
                      BUY1
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              id="opt4"
              class="card_section btoption row justify-content-evenly"
              style="padding: 0px 20px 30px 20px;"
            >
              <img class="btoptioni col-12 col-lg-3" src="img0102" height="" width="">
              <div class="btoptiont col-12 col-lg-7">
                <table style="" class="tabbt">
                  <thead>
                    <tr valign="top">
                      <th style="width: 325px;"><b>Lado do Passageiro</b></th>
                      <th style="width: 85px; text-align: center;"><b>SKU</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="padding-top: 10px">
                      <td label="Acessórios">nome1</td>
                      <td label="Referência">
                        <p style="text-align:center">
                          <a
                            target="_blank"
                            href="/search?type=product&options[prefix]=last&options[unavailable_products]=last&q=skuskusku1"
                            >skuskusku1</a
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Inclui o adaptador UFGC1 para aplicação<br>
                        <img src="UFGI1" height="" width="">
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="btoptionprice col-12 col-lg-2">
                <div class="btbox2">
                  <p style="margin-top:20px;">
                    <span class="fw-bold">Preço:</span><span class="btprice fw-bold" style=""> price1231231</span>
                  </p>
                  <div style="text-align: center;">
                    <button
                      type="submit"
                      class="product-form__add-button button button--primary button-configurador"
                      data-action="add-to-cart"
                      style="height:50px; font-size:14px;"
                      onclick="handleBuy(3)"
                    >
                      BUY2
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="see-price-info" style="display: none">
          {% render 'see-price-info' %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var loading = true;
  var cars;
  var selectedBrand;
  var selectedModel;
  var selectedYear;
  var initialClassic;
  var initialFlat;

  var brandToId;
  var idToBrand;

  var modelToId;
  var idToModel;

  var yearToId;
  var idToYear;

  var opts;
  var adapt;
  doMagic();

  function brandChanged(event) {
    const model = document.getElementById('modelodocarro');
    while (model.length > 1) model.remove(1);
    const year = document.getElementById('anodocarro');
    while (year.length > 1) year.remove(1);
    modelToId = {};
    idToModel = {};

    if (cars) {
      const sel = cars[event.target.value];
      selectedBrand = event.target.value;
      const url = new URLSearchParams(document.location.search);

      Object.keys(sel).forEach((car, index) => {
        const opt = document.createElement('option');
        opt.value = car;
        opt.textContent = car;
        if (index === Number(url.get('model')) && url.get('model') !== null && loading) {
          opt.selected = true;
        }
        modelToId[car] = index;
        idToModel[index] = car;
        model.appendChild(opt);
      });
    }

    document.getElementById('optionClassic').outerHTML = initialClassic;
    document.getElementById('optionFlat').outerHTML    = initialFlat;
    initPopovers();
  }

  function modelChanged(event) {
    const year = document.getElementById('anodocarro');
    while (year.length > 1) year.remove(1);
    if (cars) {
      selectedModel = event.target.value;
      const sel = cars[selectedBrand][event.target.value];
      const url = new URLSearchParams(document.location.search);
      yearToId = {};
      idToYear = {};

      Object.keys(sel).forEach((car, index) => {
        const opt = document.createElement('option');
        opt.value = car;
        opt.textContent = car;
        if (index === Number(url.get('year')) && url.get('year') !== null && loading) {
          opt.selected = true;
        }
        yearToId[car] = index;
        idToYear[index] = car;
        year.appendChild(opt);
      });
    }

    document.getElementById('optionClassic').outerHTML = initialClassic;
    document.getElementById('optionFlat').outerHTML    = initialFlat;
    initPopovers();
  }

  async function yearChanged(event) {
    selectedYear = event.target.value;
    const car = cars[selectedBrand][selectedModel][selectedYear];
    // Reservar sempre 4 posições: 0-1 Classic, 2-3 Flat
    const requests = {
      whatIs: [],
      p:       [Promise.resolve(), Promise.resolve(), Promise.resolve(), Promise.resolve()],
      image:   [null, null, null, null]
    };
    const priceInfoPopoverHTML = document.getElementById("see-price-info").innerHTML;

    // — Classic —
    if (car[3]) {
      requests.whatIs.push(['classic','primary']);
      requests.p[0]     = getProduct(car[3]);
      requests.image[0] = car[5];
    }
    if (car[4]) {
      requests.whatIs.push(['classic','secundary']);
      requests.p[1]     = getProduct(car[4]);
      requests.image[1] = car[5];
    }

    // — Flat —
    if (car[6]) {
      requests.whatIs.push(['flat','primary']);
      requests.p[2]     = getProduct(car[6]);
      requests.image[2] = car[8];
    }
    if (car[7]) {
      requests.whatIs.push(['flat','secundary']);
      requests.p[3]     = getProduct(car[7]);
      requests.image[3] = car[8];
    }

    const ans = await Promise.all(requests.p);

    // Classic (ans[0], ans[1])
    let classicPage = initialClassic;
    if (ans[0]) {
      const vari = ans[0].variants[0];
      const priceReplacement = !window.customerLoggedIn
        ? priceInfoPopoverHTML
        : (Number(ans[0].price)/100).toFixed(2)+'€';
      classicPage = classicPage
        .replace('img0101', ans[0].featured_image||classicPage)
        .replace('nome0', ans[0].title)
        .replace(/skuskusku0/g, vari.sku)
        .replace('price1231230', priceReplacement)
        .replace('BUY1', ans[0].available ? 'ADICIONAR' : 'ESGOTADO');
      opts[0] = vari.id;
    } else {
      classicPage = classicPage.replace('id="opt1"', 'hidden');
    }
    if (ans[1]) {
      const vari = ans[1].variants[0];
      const priceReplacement = !window.customerLoggedIn
        ? priceInfoPopoverHTML
        : (Number(ans[1].price)/100).toFixed(2)+'€';
      classicPage = classicPage
        .replace('img0102', ans[1].featured_image||classicPage)
        .replace('nome1', ans[1].title)
        .replace(/skuskusku1/g, vari.sku)
        .replace('price1231231', priceReplacement)
        .replace('BUY2', ans[1].available ? 'ADICIONAR' : 'ESGOTADO');
      opts[1] = vari.id;
    } else {
      classicPage = classicPage.replace('id="opt2"', 'hidden');
    }
    if (ans[0]||ans[1]) classicPage = classicPage.replace('hidden=""','');
    document.getElementById('optionClassic').outerHTML = classicPage;
    initPopovers();

    // Flat (ans[2], ans[3])
    let flatPage = initialFlat;
    if (ans[2]) {
      const vari = ans[2].variants[0];
      const priceReplacement = !window.customerLoggedIn
        ? priceInfoPopoverHTML
        : (Number(ans[2].price)/100).toFixed(2)+'€';
      flatPage = flatPage
        .replace('img0101', ans[2].featured_image||flatPage)
        .replace('nome0', ans[2].title)
        .replace(/skuskusku0/g, vari.sku)
        .replace('price1231230', priceReplacement)
        .replace('BUY1', ans[2].available ? 'ADICIONAR' : 'ESGOTADO');
      opts[2] = vari.id;
    } else {
      flatPage = flatPage.replace('id="opt3"','hidden');
    }
    if (ans[3]) {
      const vari = ans[3].variants[0];
      const priceReplacement = !window.customerLoggedIn
        ? priceInfoPopoverHTML
        : (Number(ans[3].price)/100).toFixed(2)+'€';
      flatPage = flatPage
        .replace('img0102', ans[3].featured_image||flatPage)
        .replace('nome1', ans[3].title)
        .replace(/skuskusku1/g, vari.sku)
        .replace('price1231231', priceReplacement)
        .replace('BUY2', ans[3].available ? 'ADICIONAR' : 'ESGOTADO');
      opts[3] = vari.id;
    } else {
      flatPage = flatPage.replace('id="opt4"','hidden');
    }
    if (ans[2]||ans[3]) flatPage = flatPage.replace('hidden=""','');
    document.getElementById('optionFlat').outerHTML = flatPage;
    initPopovers();

    // Destaque das opções mais baratas
    const p0 = ans[0]?Number(ans[0].price):0;
    const p1 = ans[1]?Number(ans[1].price):0;
    const p2 = ans[2]?Number(ans[2].price):0;
    const p3 = ans[3]?Number(ans[3].price):0;

    setFirstChild((p0+p1) <= (p2+p3));
    setFirstChildEach('op1', p0 <= p1 ? 'opt1' : 'opt2');
    setFirstChildEach('op2', p2 <= p3 ? 'opt3' : 'opt4');
  }

  function initPopovers() {
    document.querySelectorAll('#optionClassic [data-bs-toggle="popover"], #optionFlat [data-bs-toggle="popover"]')
      .forEach(el => new bootstrap.Popover(el));
  }

  function getProduct(sku) {
    return new Promise((resolve, reject) => {
      let req = new XMLHttpRequest();
      req.open('GET','/products/'+sku.split('|')[0]+'.js',false);
      req.send(null);
      if (req.status===200) {
        const ans = JSON.parse(req.responseText);
        ans.variants = ans.variants.filter(v=>v.sku===sku.split('|')[1]);
        resolve(ans);
      } else reject(req.status);
    });
  }

  function handleBuy(id) {
    const body = JSON.stringify({ items:[{ id: opts[id], quantity:1 }] });
    let req = new XMLHttpRequest();
    req.open('POST','/cart/add.js');
    req.setRequestHeader('Content-Type','application/json');
    req.onload = function() {
      if (this.status!==200) alert('Artigo Esgotado');
      else {
        const url = window.location.href.split('?')[0]
          + '?brand='+brandToId[selectedBrand]
          + '&model='+modelToId[selectedModel]
          + '&year='+yearToId[selectedYear];
        window.location.href = url;
      }
    };
    req.send(body);
  }

  function doMagic() {
    httpGet("{{ 'limpaAdapter.csv' | asset_url }}", handleDataAdapter);
    httpGet("{{ 'outputLimpa.csv' | asset_url }}", handleData);
  }
  async function httpGet(url, handler) {
    let r = new XMLHttpRequest();
    r.addEventListener('load', handler);
    r.open('GET', url);
    r.send();
  }

  function handleData() {
    const rows = this.responseText.trim().split('\n').map(r=>r.split(',').map(v=>v.trim()));
    const ccars = {};
    for (let i=1; i<rows.length; i++) {
      const c = rows[i];
      if (!c[0]) continue;
      ccars[c[0]] = ccars[c[0]] || {};
      ccars[c[0]][c[1]] = ccars[c[0]][c[1]] || {};
      ccars[c[0]][c[1]][c[2]] = c;
    }
    cars = ccars;
    const sel = document.getElementById('marcadocarro');
    const url = new URLSearchParams(document.location.search);
    brandToId = {};
    idToBrand = {};
    Object.keys(cars).forEach((b,i) => {
      const o = document.createElement('option');
      o.value = b; o.textContent = b;
      if (i===Number(url.get('brand')) && url.get('brand')!==null && loading) o.selected=true;
      brandToId[b]=i; idToBrand[i]=b;
      sel.appendChild(o);
    });
    initialClassic = document.getElementById('optionClassic').outerHTML;
    initialFlat    = document.getElementById('optionFlat').outerHTML;
    if (url.get('brand')) {
      brandChanged({target:{value:idToBrand[url.get('brand')]}})
      modelChanged({target:{value:idToModel[url.get('model')]}})
      yearChanged({target:{value:idToYear[url.get('year')]}})
    }
    loading=false;
  }

  function handleDataAdapter() {
    const rows = this.responseText.trim().split('\n').map(r=>r.split(',').map(v=>v.trim()));
    adapt = {};
    for (let i=1; i<rows.length; i++) {
      if (!rows[i][0]) continue;
      adapt[rows[i][0]] = rows[i][1];
    }
  }

  function setFirstChild(isClassicTop) {
    const top = isClassicTop ? 'optionClassic' : 'optionFlat';
    const el  = document.getElementById(top);
    el.parentNode.insertBefore(el, el.parentNode.firstChild);
    const form = document.getElementById('form_input_stuff');
    form.parentNode.insertBefore(form, form.parentNode.firstChild);
  }
  function setFirstChildEach(headerId, optId) {
    const card = document.getElementById(optId);
    card.parentNode.insertBefore(card, card.parentNode.firstChild);
    const hdr = document.getElementById(headerId);
    hdr.parentNode.insertBefore(hdr, hdr.parentNode.firstChild);
  }
</script>

{% schema %}
{
  "name": "Configurador de Escovas",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-5"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Configurador de Escovas"
    }
  ]
}
{% endschema %}
