{% style %}
    #section-map-{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} w-100">
    <div class="container page-contact px-3 px-md-0" id="section-map-{{ section.id }}">

        {% if section.settings.section_heading != blank %}

            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2>{{section.settings.section_heading}}</h2>
                </div>
            </div>

        {% endif %}
        
        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-lg-4 pe-5">

                {% if section.settings.contacts_heading != blank %}
                    <h3 class="mb-4">{{section.settings.contacts_heading}}</h3>
                {% endif %}

                {% if section.settings.email != blank %}
                    <div class="d-flex align-items-center mb-3">
                        <div><img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/contacts.png?v=1742999578" height="" width="40" alt="Contacts"></div>
                        <div class="ms-3 page-contact-info">
                            <a href="mailto:{{- section.settings.email -}}" target="_blank">{{section.settings.email}}</a>
                        </div>
                    </div>
                {% endif %}

                {% if section.settings.phone_number != blank %}
                    <div class="d-flex align-items-center mb-3">
                        <div><img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/telefone.png?v=1742999578" height="" width="40" alt="Phone"></div>
                        <div class="ms-3 lh-1 page-contact-info">
                            <div>
                                {% assign phone_number_formatted = section.settings.phone_number | remove: " " %}
                                <a href="tel:{{- phone_number_formatted -}}" target="_blank">{{ section.settings.phone_number }}</a>
                            </div>
                            <small class="fs-6">(chamada p/ a rede fixa nacional)</small>
                        </div>
                    </div>
                {% endif %}

                {% if section.settings.address != blank %}
                    <div class="d-flex align-items-center mb-3">
                        <div><img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/location.png?v=1742999578" height="" width="40" alt="Location"></div>
                        <div class="ms-3 page-contact-info">
                            {% assign address_formatted = section.settings.address | replace: " ", "+" | strip_html | strip_newlines %}
                            <a href="https://www.google.com/maps/search/{{ address_formatted }}" target="_blank">{{ section.settings.address }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if section.settings.schedule_1 != blank %}
                    <div class="d-flex align-items-center mb-3">
                        <div><img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/horario.svg?v=1743756328" height="" width="40" alt="Schedule" class="opacity-75"></div>
                        <div class="ms-3 page-contact-info">{{ section.settings.schedule_1 }}</div>
                    </div>
                {% endif %}

                {% if section.settings.schedule_2 != blank %}
                    <div class="d-flex align-items-center mb-3">
                        <div><img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/horario.svg?v=1743756328" height="" width="40" alt="Schedule" class="opacity-75"></div>
                        <div class="ms-3 page-contact-info">{{ section.settings.schedule_2 }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-lg-8">

                {% if section.settings.map_iframe != blank %}
                    {{ section.settings.map_iframe }}
                {% endif %}

            </div>
        </div>
        
    </div>
</div>


{% schema %}
{
    "name": "Map",
    "settings": [
        {
            "type": "header",
            "content": "Section"
        },
        {
            "type": "inline_richtext",
            "id": "section_heading",
            "label": "Section heading"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding-top",
            "min": 0,
            "max": 80,
            "step": 4,
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding-bottom",
            "min": 0,
            "max": 80,
            "step": 4,
            "default": 20
        },
        {
            "type": "header",
            "content": "Contact information"
        },
        {
            "type": "inline_richtext",
            "id": "contacts_heading",
            "label": "'Contacts' heading"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email"
        },
        {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number"
        },
        {
            "type": "richtext",
            "id": "address",
            "label": "Address"
        },
        {
            "type": "richtext",
            "id": "schedule_1",
            "label": "Schedule 1"
        },
        {
            "type": "richtext",
            "id": "schedule_2",
            "label": "Schedule 2"
        },
        {
            "type": "header",
            "content": "Map"
        },
        {
            "type": "liquid",
            "id": "map_iframe",
            "label": "Map iframe"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Map"
        }
    ]
}
{% endschema %}