{% liquid
  assign parent_collection = collection
  assign child_collections = ""

  for collection in collections
    if collection.metafields.custom.parent.value.handle == parent_collection.handle
    # custom.parent is the literal collection metafield's handle, not an object or array
      assign child_collections = child_collections | append: collection.handle | append: ","
    endif
  endfor

  assign child_handles = child_collections | split: "," | uniq
%}

{%- style -%}
  .section-product-categories {

    {% if child_handles.size <= 0 %}

      padding: 0.3rem 10%;
      background-color: rgb(230, 230, 230);

    {% else %}
      
      padding: 1% 10% 0;
      min-height: 200px;
      
      {% if section.settings.background_image != blank %}
        
        background-image: url('{{ section.settings.background_image | image_url }}');
        background-size: cover;
        background-position: center;
        
      {% else %}

        background-color: rgb(230, 230, 230);
        
      {% endif %}

    {% endif %}
  }

  /* Media query */
  @media all and (max-width: 577px) {

    {% if child_handles.size <= 0 %}

      .section-product-categories {
        padding: 0.5rem 0;
      }

    {% else %}

      .section-product-categories {
        padding: 2rem;
      }
      
    {% endif %}
  }
  
{%- endstyle -%}

<section class="container">
  <div class="row">
    <div class="col-12">
      {% render 'breadcrumb', navigation_type: section.settings.navigation %}
    </div>
  </div>

  {% if child_handles.size > 0 %}
  
    <div class="row">
      <div class="col-12 pt-4">

        <div id="categories-carousel" class="categories-carousel position-relative">
          
          {% for handle in child_handles %}
            
            {% liquid 
               assign subcollection = collections[handle] 
               assign link = ""
               
               if subcollection.handle == "configurador-escovas-limpa-vidros"
                    assign link = "/pages/configurador-de-escovas-limpa-vidros"
               
               elsif subcollection.handle == "configurador-auto-paraventos"
                    assign link = "/pages/auto-paraventos-configurador"
               
               elsif subcollection.handle == "configurador-barras-de-tejadilho"
                    assign link = "/pages/configurador-de-barras-de-tejadilho"
               else
                    assign link = subcollection.url
               endif
            %}

            {% if subcollection != blank %}
              <div class="category-card me-md-5 me-sm-4 me-3 carousel-cell">
                
                <a href="{{ link }}">
                  <div class="category-image d-flex justify-content-center align-items-center bg-white rounded-4">
                    
                    {% if subcollection.image != blank %}
                      <img src="{{ subcollection.image | image_url }}" width="" height="" alt="Category">
                    {% else %}
                      <img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/logo.png?v=1741088326" width="" height="" alt="Category">
                    {% endif %}
                  
                  </div>
                </a>
                
                <div class="category-title text-center mt-2">
                  <a href="{{ link }}">{{ subcollection.title }}</a>
                </div>
              
              </div>
            {% endif %}
            
          {% endfor %}
        </div>
        
      </div>
    </div>
  {% endif %}

</section>


{% schema %}
  {
    "name": "Product Subcategories",
    "class": "section-product-categories",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "select",
        "id": "navigation",
        "label": "Type of navigation",
        "options": [
          { 
            "value": "breadcrumb", 
            "label": "Breadcrumb"
          },
          {
            "value": "back-button",
            "label": "Back-button"
          }
        ]
      },
    ],
    "presets": [
      {
        "name": "Product Subcategories"
      }
    ]
  }
{% endschema %}